.hero{
    background: linear-gradient(45deg,#000000be,#0000009f),url(../fotos/descarga.jpg);
    background-size: cover;
    width: 100%;
    height: 650px;
    min-width: 100vh;
    max-height: 100%;
    padding: 30px;
    @include flex(column,flex-end, center,13px );
    h1{
        color: $main-color;
        text-decoration:underline;
        font-size: 2rem;
    }
}



//combos 
.gallery{
    padding: 15px;
    
}.gallery-combos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
    gap:20px;
    img{
        width: 100%;
        height: 100%;
    }
    .gallery-items{
        position: relative;
        transition: 0.5s;
        &:hover{
            .gallery-text{
                transform: scale(1);
            }
        }
    }
    .gallery-text{
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0, 0.667);
        @include flex(column, flex-start,center,10px);
        color: antiquewhite;
        padding: 20px;
        width: 100%;
        height: 100%;
        transition: 0.5s;
        transform: scale(0);
    }
}